flask
flask-cors
gunicorn
numpy
pandas
matplotlib
scipy
openai
faiss-cpu
langchain
langchain-openai
langchain-community
python-dotenv
tiktoken
PyPDF2
sentence-transformers
streamlit
reportlab
Pillow
pymupdf